 *{
  margin:0;
  padding: 0;
  box-sizing: border-box;

 }

 .banner{
           position: relative;
           width: 100%;
           height: 100vh;
           overflow: hidden;
}

.container{
            position: absolute;
            left: -10%;
            width: 120%;
            height: 100vh;
            background: radial-gradient(#e1f1e5,#acdabb);

}

.container #scene .layer{
                         position: absolute;
                         top:0;
                         left:0;
                         width: 100%;
                         height: 100vh;

}

.container #scene .layer img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit:contain;

}

@media screen and (max-width:500px) {

    .claseyoutube{object-fit:cover;} 
}




